//== Partials, Mixins & Extends =================================================================================================================/

// Put your partials, mixins and extends here!

//== Normal CSS =================================================================================================================/
/* Colour Theme */

html {position: relative;min-height: 100%;}
body {padding:0;margin:0;background:#eee;}

h1,h2,h3,h4,h5,h6,dt {margin:0;padding:0;margin-bottom:0.6em;}
b,strong{font-weight:bold;color:#000}
a:hover{text-decoration:none;}