/* Warm Colours */
$tvh-rose: #EA4E5A;
$tvh-rose-tint:#F6B8BC;
$tvh-carrot:#DC6D13;
$tvh-carrot-tint: #F0C5A0;
$error-red: #ce0a31;

/* Cool Colours */
$tvh-sky: #0099FF;
$tvh-sky-tint:#99D6FF;
$tvh-emerald: #0A9A82;
$tvh-emerald-tint:#9DD6CD;
$tvh-lime:#999933;
$tvh-lime-tint:#D6D6AD;

/* Neutral Colours */
$tvh-violet: #8278B4;
$tvh-violet-tint:#CDC8E0;
$tvh-grey: #63686D;
$tvh-grey-tint: #C1C2C5;
$tvh-black:black;
$tvh-white: #FFF;
$tvh-grey-tint:#F2F2F2;

/*  Fonts */
$ConduitITCPro:ConduitITCPro;
$ConduitITCProBold:ConduitITCProbold;
$ConduitITCProLight:ConduitITCProlight;
$SearchIcon: Flaticon;