@font-face {
  font-family: 'ConduitITCPro';
  font-weight:bold; 
  font-style: normal;
  src: url('../fonts/tvh/28C398_0_0.eot');
  src: url('../fonts/tvh/28C398_0_0.eot?#iefix') format('embedded-opentype'),
       url('../fonts/tvh/28C398_0_0.woff') format('woff'),
       url('../fonts/tvh/28C398_0_0.ttf') format('truetype');
}
@font-face {
  font-family: 'ConduitITCPro'; 
  font-weight:normal; 
  font-style: normal;
  src: url('../fonts/tvh/28C398_1_0.eot');
  src: url('../fonts/tvh/28C398_1_0.eot?#iefix') format('embedded-opentype'),
       url('../fonts/tvh/28C398_1_0.woff') format('woff'),
       url('../fonts/tvh/28C398_1_0.ttf') format('truetype');
}
@font-face {
  font-family: 'ConduitITCPro'; 
  font-weight:lighter; 
  font-style: normal;
  src: url('../fonts/tvh/28C398_2_0.eot');
  src: url('../fonts/tvh/28C398_2_0.eot?#iefix') format('embedded-opentype'),
  url('../fonts/tvh/28C398_2_0.woff') format('woff'),
  url('../fonts/tvh/28C398_2_0.ttf') format('truetype');
}


@font-face {
	font-family: "Flaticon";
	src: url("../fonts/icons/flaticon.eot");
	src: url("../fonts/icons/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/icons/flaticon.woff") format("woff"),
	url("../fonts/icons/flaticon.ttf") format("truetype"),
	url("../fonts/icons/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	   font-family: Flaticon;
        font-size: 20px;
   
}.flaticon-menu51:before {
	content: "\e000";
         font-style: normal;
        position: relative;
        top:8px;
}
.flaticon-zoom3:before {
	content: "\e001";
}



